@page "/notebooks/new"
@inject INotebooksService _service
@inject IUserState _userState
@inject NavigationManager _navigation

<form class="login-form">
    <h2>New notebook</h2>
    <div class="form-group">
        <label for="name">Notebook name</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Notebook name" @bind-value="name">
    </div>
    <button type="button" class="btn btn-primary" @onclick="Create">Create</button>
</form>

@code {
    private string name;

    private async Task Create()
    {
        var createdNotebook = await _service.Create(
            await _userState.GetUserEmail(),
            new NotebookDto
            {
                Name = name
            });

        StateHasChanged();
        _navigation.NavigateTo($"/notebooks/{createdNotebook.Key}/notes");
    }
}
