body {
    background-image: url("../images/loginbg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.login-form,
.register-form {
    background-color: #d7d7e3;
    position: fixed;
    left: calc(50% - 275px);
    width: 550px;
    padding: 30px;
    border-radius: 10px;
}

.login-form {
    top: calc(50% - 161px);
    height: 322px;
}

.register-form {
    top: calc(50% - 204px);
    height: 408px;
}
