button.ql-header,
.ql-color,
.ql-background,
.ql-align {
    width: 28px !important;
    height: 28px !important;
    margin: 3px 4px 3px 4px !important;
    padding: 0 !important;
    color: #333;
}

    button.ql-header :hover,
    .ql-color :hover,
    .ql-background :hover,
    .ql-align :hover {
        background-color: rgb(219, 219, 224);
    }

    button.ql-header :active,
    .ql-color :active,
    .ql-background :active,
    .ql-align :active {
        background-color: rgb(219, 219, 224);
    }

#quill-div {
    border: 1px solid black;
    height: 75%;
}

#toolbar-container {
    border-top: none;
    border-left: none;
    border-right: none;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f3f3f8;
    z-index: 999999;
    padding: 2px;
}

#editor-container {
    margin-top: 40px;
    border: none;
}

@media all and (max-width: 1045px) {
    #editor-container {
        margin-top: 80px;
    }
}

@media all and (max-width: 540px) {
    #editor-container {
        margin-top: 112px;
    }
}

@media all and (max-width: 371px) {
    #editor-container {
        margin-top: 130px;
    }
}

@media all and (max-width: 348px) {
    #editor-container {
        margin-top: 162px;
    }
}
