@inject IUserState _userState
@inject INotebooksService _notebooksService
@inject IJSRuntime JsRuntime
@inject NavigationManager _navigation

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Yet another note taker</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> All notebooks
            </NavLink>
        </li>
        @foreach (var notebook in notebooks)
        {
            var url = $"/notebooks/{notebook.Key}/notes";

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@url">
                    <div class="action-text">
                        @notebook.Name
                    </div>
                    <button class="action-btn btn btn-info" @onclick="() => EditNotebook(notebook.Key)">✏</button>
                    <button class="action-btn btn btn-danger" @onclick="() => RemoveNotebook(notebook.Key)">➖</button>
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/notebooks/editor" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> New notebook
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<NotebookDto> notebooks = new List<NotebookDto>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || await _userState.ShouldUpdate())
        {
            notebooks = await _notebooksService.GetAll(await _userState.GetUserEmail());
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task EditNotebook(string notebookKey)
    {
        _navigation.NavigateTo($"/notebooks/editor?notebookKey={notebookKey}");
        await Task.CompletedTask;
    }

    private async Task RemoveNotebook(string notebookKey)
    {
        var result = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");

        if (!result)
        {
            return;
        }

        var userEmail = await _userState.GetUserEmail();
        await _notebooksService.Delete(userEmail, notebookKey);
        await _userState.SetShouldUpdate(true);
    }
}
